<section id="about" data-transition="slide">

    <header data-title="Authors" class="violet">
        <nav>
            <a href="#back" data-router="section" data-icon="left" data-label="Settings"></a>
        </nav>
    </header>


    <article class="active scroll">

        <ul class="indented list">
            <li class="author">
                <strong>Alberto Blázquez</strong>
                <small>Developer</small>
            </li>

            <li class="author">
                <strong>Fernando Godino</strong>
                <small>Developer</small>
            </li>

            <li class="author">
                <strong>Javier Marzana</strong>
                <small>Business</small>
            </li>

            <li class="author">
                <strong>Javier Ocejo</strong>
                <small>Business</small>
            </li>

            <li>
                <p>Also, thanks for everyone who has collaborated with the project giving feedback, advices, opinions, and so on...</p>
            </li>
        </ul>

    </article>

</section>
