<section id="activity" class="main" data-transition="slide">

    <style>
        .buttonsbar {
            -webkit-column-count: 3;
            -webkit-column-gap: 0px;
            height: 50px;
            padding: 7px 10px;
            position: relative;
            top: 0;
        }

        .btn-filter {
            -webkit-border-radius: 0;
            border-radius: 0;
            width: 101%;
        }

        .btn-filter:first-child {
            -webkit-border-top-left-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            border-right: 0;
        }

        .btn-filter:last-child {
            -webkit-border-top-right-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            border-left: 0;
            margin-left: -1px;
        }
    </style>


    <header data-title="Activity" class="violet">
        <nav>
            <a href="#nav" data-router="aside" data-icon="menu" class="btn-menu"></a>
        </nav>

        <nav class="right">
            <a href="#" data-icon="search"  data-action="search-activity"></a>
            <!-- <a href="#" data-icon="refresh" data-action="refresh-activity"></a> -->
        </nav>
    </header>


    <article class="active scroll">

        <div class="buttonsbar">
            <a href="#" id="btn-party"  data-label="Parties" data-icon="music" class="btn-filter button small cancel"></a>
            <a href="#" id="btn-site"   data-label="Sites"   data-icon="map"   class="btn-filter button small yellow"></a>
            <a href="#" id="btn-friend" data-label="Friends" data-icon="users" class="btn-filter button small accept"></a>
        </div>


        <ul id="activity-list" class="list">
            <li data-image="assets/images/friends/friend3.jpg" class="friend circle arrow selectable">
                <small class="tag right accept">Friend</small>
                <strong>María Fernández</strong>
                <small>This user has added you as friend</small>
            </li>

            <li data-image="assets/images/logos/radical.jpg" class="party mini arrow selectable">
                <small class="tag right cancel">Party</small>
                <strong>Fiesta Naranja</strong>
                <small>Radical</small>
            </li>

            <li data-image="assets/images/friends/friend2.jpg" class="friend circle arrow selectable">
                <small class="tag right accept">Friend</small>
                <strong>Luis Mayorga</strong>
                <small>Going to Fiesta Naranja, Radical</small>
            </li>

            <li data-image="assets/images/logos/goa.png" class="site thumb arrow selectable">
                <small class="tag right yellow">Site</small>
                <strong>Goa</strong>
                <small>Recommended by Luis Mayorga</small>
            </li>

            <li data-image="assets/images/friends/friend1.jpg" class="friend circle arrow selectable">
                <small class="tag right accept">Friend</small>
                <strong>Esther Lueje</strong>
                <small>Going to Fiesta de la Espuma, Kapital</small>
            </li>

            <li data-image="assets/images/logos/pacha.jpg" class="party mini arrow selectable">
                <small class="tag right cancel">Party</small>
                <strong>Fiesta del Semáforo</strong>
                <small>Pachá</small>
            </li>

            <li data-image="assets/images/logos/kapital.png" class="site thumb arrow selectable">
                <small class="tag right yellow">Site</small>
                <strong>Kapital</strong>
                <small>Price goes up to 20€</small>
            </li>

            <li data-image="assets/images/friends/friend3.jpg" class="friend circle arrow selectable">
                <small class="tag right accept">Friend</small>
                <strong>María Fernández</strong>
                <small>This user has added you as friend</small>
            </li>

            <li data-image="assets/images/logos/radical.jpg" class="party mini arrow selectable">
                <small class="tag right cancel">Party</small>
                <strong>Fiesta Naranja</strong>
                <small>Radical</small>
            </li>

            <li data-image="assets/images/friends/friend2.jpg" class="friend circle arrow selectable">
                <small class="tag right accept">Friend</small>
                <strong>Luis Mayorga</strong>
                <small>Going to Fiesta Naranja, Radical</small>
            </li>

            <li data-image="assets/images/logos/goa.png" class="site thumb arrow selectable">
                <small class="tag right yellow">Site</small>
                <strong>Goa</strong>
                <small>Recommended by Luis Mayorga</small>
            </li>

            <li data-image="assets/images/friends/friend1.jpg" class="friend circle arrow selectable">
                <small class="tag right accept">Friend</small>
                <strong>Esther Lueje</strong>
                <small>Going to Fiesta de la Espuma, Kapital</small>
            </li>

            <li data-image="assets/images/logos/pacha.jpg" class="party mini arrow selectable">
                <small class="tag right cancel">Party</small>
                <strong>Fiesta del Semáforo</strong>
                <small>Pachá</small>
            </li>

            <li data-image="assets/images/logos/kapital.png" class="site thumb arrow selectable">
                <small class="tag right yellow">Site</small>
                <strong>Kapital</strong>
                <small>Price goes up to 20€</small>
            </li>
        </ul>

    </article>

</section>
