<section id="friends" class="main" data-transition="slide">

    <header data-title="Friends" class="violet">
        <nav>
            <a href="#nav" data-router="aside" data-icon="menu"></a>
        </nav>
        <nav class="right">
            <a href="#friend-search" data-icon="search"></a>
            <a href="#friend-add"    data-router="section" data-icon="plus" data-label="Add"></a>
        </nav>
    </header>


    <article class="active scroll">

        <ul class="list">
            <li data-image="assets/images/friends/friend3.jpg" class="circle arrow selectable">
                <strong>María Fernández</strong>
                <small>Affinity with you: 10 / 10</small>
            </li>
            <li data-image="assets/images/friends/friend2.jpg" class="circle arrow selectable">
                <strong>Luis Mayorga</strong>
                <small>Affinity with you: 9 / 10</small>
            </li>
            <li data-image="assets/images/friends/friend1.jpg" class="circle arrow selectable">
                <strong>Esther Lueje</strong>
                <small>Affinity with you: 9 / 10</small>
            </li>
            <li data-image="assets/images/friends/friend3.jpg" class="circle arrow selectable">
                <strong>María Fernández</strong>
                <small>Affinity with you: 7 / 10</small>
            </li>
            <li data-image="assets/images/friends/friend2.jpg" class="circle arrow selectable">
                <strong>Luis Mayorga</strong>
                <small>Affinity with you: 7 / 10</small>
            </li>
            <li data-image="assets/images/friends/friend1.jpg" class="circle arrow selectable">
                <strong>Esther Lueje</strong>
                <small>Affinity with you: 6 / 10</small>
            </li>
        </ul>

    </article>

</section>
