<section id="help" data-transition="slide">

    <header data-title="Help" class="violet">
        <nav>
            <a href="#back" data-router="section" data-icon="left" data-label="Settings"></a>
        </nav>
    </header>


    <article class="active scroll">

        <form>
            <fieldset data-icon="pencil">
                <label>Question: </label>
                <textarea name="query" id="query" placeholder="Type your doubts here..."></textarea>
            </fieldset>

            <div class="margined">
                <a href="#" id="send-question" data-icon="mail" data-label="Send your question" class="button anchor accept"></a>
            </div>
        </form>

        <ul class="list">
            <li class="anchor">Frequently Asked Questions</li>
            <li class="arrow selectable">
                <strong>1. How to ... ?</strong>
            </li>
            <li class="arrow selectable">
                <strong>2. How to ... ?</strong>
            </li>
            <li class="arrow selectable">
                <strong>3. How to ... ?</strong>
            </li>
            <li class="arrow selectable">
                <strong>4. How to ... ?</strong>
            </li>
            <li class="arrow selectable">
                <strong>5. How to ... ?</strong>
            </li>
            <li class="arrow selectable">
                <strong>6. How to ... ?</strong>
            </li>
            <li class="arrow selectable">
                <strong>7. How to ... ?</strong>
            </li>
            <li class="arrow selectable">
                <strong>8. How to ... ?</strong>
            </li>
        </ul>

    </article>

</section>
