<aside id="nav">

    <header>
        <a href="#profile" class="nav-header" data-router="section">
            <img src="assets/images/friends/me.jpg" alt="Profile's Avatar" class="avatar">
            <strong>Alberto Blázquez</strong>
            <div class="clear"></div>
            <small>See profile</small>
        </a>
    </header>


    <article class="active scroll">

        <ul class="list">

            <li class="arrow selectable">
                <a href="#search" data-router="section" data-icon="search">
                    <strong>Search</strong>
                </a>
            </li>

            <li class="arrow selectable">
                <a href="#activity" data-router="section" data-icon="inbox">
                    <strong>Activity</strong>
                    <div class="tag right">4</div>
                </a>
            </li>

            <li class="arrow selectable">
                <a href="#parties" data-router="section" data-icon="music">
                    <strong>Parties</strong>
                    <div class="tag right">25</div>
                </a>
            </li>

            <li class="arrow selectable">
                <a href="#sites" data-router="section" data-icon="map">
                    <strong>Sites</strong>
                </a>
            </li>

            <li class="arrow selectable">
                <a href="#map" data-router="section" data-icon="pushpin">
                    <strong>Map</strong>
                </a>
            </li>

            <li class="arrow selectable">
                <a href="#friends" data-router="section" data-icon="users">
                    <strong>Friends</strong>
                </a>
            </li>

            <li class="arrow selectable">
                <a href="#settings" data-router="section" data-icon="settings">
                    <strong>Settings</strong>
                </a>
            </li>
        </ul>

    </article>

</aside>
