<section id="parties" class="main" data-transition="slide">

    <header data-title="Parties" class="violet extended">
        <nav>
            <a href="#nav" data-router="aside" data-icon="menu" class="btn-menu"></a>
        </nav>

        <nav class="right">
            <a href="#" data-icon="search"  data-action="search-parties"></a>
            <a href="#" data-icon="refresh" data-action="refresh-parties"></a>
        </nav>
    </header>


    <nav class="groupbar">
        <a href="#following"   data-router="article" data-label="Following"   data-count="22" class="active"></a>
        <a href="#recommended" data-router="article" data-label="Recommended" data-count="3"></a>
    </nav>


    <article id="following" class="active scroll">

        <ul class="list">
            <li class="anchor">Today, 23 January 2013</li>

            <li data-image="assets/images/logos/kapital.png" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta del Semáforo</strong>
                    <small>Kapital - 22.00</small>
                </a>
            </li>
            <li data-image="assets/images/logos/radical.jpg" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta Naranja</strong>
                    <small>Radical - 00.00</small>
                </a>
            </li>

            <li class="anchor">Tomorrow, 1 February 2013</li>
            <li data-image="assets/images/logos/kapital.png" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta A</strong>
                    <small>Kapital - 22.00</small>
                </a>
            </li>
            <li data-image="assets/images/logos/pacha.jpg" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta B</strong>
                    <small>Pachá - 23.00</small>
                </a>
            </li>
            <li data-image="assets/images/logos/goa.png" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta C</strong>
                    <small>Goa - 01.00</small>
                </a>
            </li>
            <li data-image="assets/images/logos/kapital.png" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta del Semáforo</strong>
                    <small>Kapital - 22.00</small>
                </a>
            </li>
            <li data-image="assets/images/logos/radical.jpg" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta Naranja</strong>
                    <small>Radical - 00.00</small>
                </a>
            </li>

            <li class="anchor">Next Friday, 1 February 2013</li>
            <li data-image="assets/images/logos/kapital.png" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta A</strong>
                    <small>Kapital - 22.00</small>
                </a>
            </li>
            <li data-image="assets/images/logos/pacha.jpg" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta B</strong>
                    <small>Pachá - 23.00</small>
                </a>
            </li>
            <li data-image="assets/images/logos/goa.png" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta C</strong>
                    <small>Goa - 01.00</small>
                </a>
            </li>
        </ul>

    </article>


    <article id="recommended" class="scroll">

        <ul class="list">
            <li class="anchor">Saturday, 23 January 2013</li>

            <li data-image="assets/images/logos/kapital.png" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta del Semáforo</strong>
                    <small>Kapital - 22.00</small>
                </a>
            </li>
            <li data-image="assets/images/logos/radical.jpg" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta Naranja</strong>
                    <small>Radical - 00.00</small>
                </a>
            </li>
            <li class="anchor">Friday, 1 February 2013</li>
            <li data-image="assets/images/logos/kapital.png" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta A</strong>
                    <small>Kapital - 22.00</small>
                </a>
            </li>
            <li data-image="assets/images/logos/pacha.jpg" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta B</strong>
                    <small>Pachá - 23.00</small>
                </a>
            </li>
            <li data-image="assets/images/logos/goa.png" class="arrow selectable mini">
                <a href="#" class="violet button right" data-label="Attend"></a>
                <a href="#party" data-router="section">
                    <strong>Fiesta C</strong>
                    <small>Goa - 01.00</small>
                </a>
            </li>
        </ul>

    </article>


</section>

