<section id="party" data-transition="slide">

    <header data-title="Fiesta de la Espuma" class="violet">
        <nav>
            <a href="#back" data-router="section" data-icon="left" data-label="Parties"></a>
        </nav>
    </header>


    <footer>
        <nav>
            <a href="#" data-icon="check"><p>Attend</p></a>
            <a href="#" data-icon="share"><p>Recommend</p></a>
        </nav>
    </footer>


    <article class="active scroll">
        <figure>
            <img class="cover" src="assets/images/pruebas/2.jpg" alt="Party Photo">
        </figure>

        <ul class="margined list">
            <li class="dark">
                <strong>Description</strong>
                <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            </li>
        </ul>

        <ul class="margined list">
            <li class="anchor">Friends that will Attend</li>
            <li data-image="assets/images/friends/friend3.jpg" class="thumb arrow selectable">
                <strong>María Fernández</strong>
                <small>Affinity with you: 10 / 10</small>
            </li>
            <li data-image="assets/images/friends/friend2.jpg" class="thumb arrow selectable">
                <strong>Luis Mayorga</strong>
                <small>Affinity with you: 9 / 10</small>
            </li>
            <li data-image="assets/images/friends/friend1.jpg" class="thumb arrow selectable">
                <strong>Esther Lueje</strong>
                <small>Affinity with you: 9 / 10</small>
            </li>
        </ul>

        <!--
        <div class="margined">
            <a href="#" data-icon="check" class="button same-line left accept">Attend</a>
            <a href="#" data-icon="share" class="button same-line right violet">Recommend</a>
            <div class="clear"></div>
        </div>
        -->

    </article>

</section>
