<section id="profile" class="main" data-transition="slide">

    <header data-title="Alberto Blázquez" class="violet extended">
        <nav>
            <a href="#nav" data-router="aside" data-icon="menu"></a>
        </nav>

        <nav class="right">
            <a href="#profile-edit" data-router="section" data-icon="pencil" data-label="Edit"></a>
        </nav>
    </header>


    <nav class="groupbar">
        <a href="#profile-info"     data-router="article" data-label="Info" class="active"></a>
        <a href="#profile-activity" data-router="article" data-label="Activity"></a>
        <a href="#profile-sites"    data-router="article" data-label="Sites"></a>
        <a href="#profile-friends"  data-router="article" data-label="Friends"></a>
    </nav>


    <article id="profile-info" class="active scroll">

        <figure>
            <img class="cover" src="assets/images/covers/kapital.png" alt="">
        </figure>

        <ul class="list margined">
            <li data-icon="music">
                <strong>Dance, Tecno, House</strong>
                <small>Music Style</small>
            </li>
            <li data-icon="picture">
                <strong>Pachangueo, A, B, C</strong>
                <small>Ambient</small>
            </li>
            <li data-icon="users">
                <strong>22 years old</strong>
                <small>Age</small>
            </li>
            <li data-icon="ticket">
                <strong>20€ as maximum</strong>
                <small>Price</small>
            </li>
        </ul>

        <ul class="margined list">
            <li class="dark">
                <strong>A Short Bio</strong>
                <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
            </li>
        </ul>

    </article>


    <article id="profile-activity" class="scroll">

        <ul class="list">
            <li data-image="assets/images/friends/me.jpg" class="circle">
                <strong>Alberto Blázquez</strong>
                <small>Fue a la Fiesta de la Espuma (Kapital)</small>
            </li>
            <li data-image="assets/images/friends/me.jpg" class="circle">
                <strong>Alberto Blázquez</strong>
                <small>Fue a la Fiesta de la Espuma (Kapital)</small>
            </li>
            <li data-image="assets/images/friends/me.jpg" class="circle">
                <strong>Alberto Blázquez</strong>
                <small>Fue a la Fiesta de la Espuma (Kapital)</small>
            </li>
            <li data-image="assets/images/friends/me.jpg" class="circle">
                <strong>Alberto Blázquez</strong>
                <small>Fue a la Fiesta de la Espuma (Kapital)</small>
            </li>
            <li data-image="assets/images/friends/me.jpg" class="circle">
                <strong>Alberto Blázquez</strong>
                <small>Fue a la Fiesta de la Espuma (Kapital)</small>
            </li>
            <li data-image="assets/images/friends/me.jpg" class="circle">
                <strong>Alberto Blázquez</strong>
                <small>Fue a la Fiesta de la Espuma (Kapital)</small>
            </li>
            <li data-image="assets/images/friends/me.jpg" class="circle">
                <strong>Alberto Blázquez</strong>
                <small>Fue a la Fiesta de la Espuma (Kapital)</small>
            </li>
        </ul>

    </article>


    <article id="profile-sites" class="scroll">

        <ul class="list">
            <li data-image="assets/images/logos/kapital.png" class="arrow selectable thumb">
                <a href="#" class="accept button right" data-icon="heart" data-label="Loving"></a>
                <a href="#site" data-router="section">
                    <strong>Kapital</strong>
                    <small>Pop, Techno, Dance</small>
                </a>
            </li>
            <li data-image="assets/images/logos/radical.jpg" class="arrow selectable thumb">
                <a href="#" class="violet button right" data-icon="heart-full" data-label="Love?"></a>
                <a href="#site" data-router="section">
                    <strong>Radical</strong>
                    <small>Dance, Techno</small>
                </a>
            </li>
            <li data-image="assets/images/logos/fabrik.png" class="arrow selectable thumb">
                <a href="#" class="violet button right" data-icon="heart-full" data-label="Love?"></a>
                <a href="#site" data-router="section">
                    <strong>Fabrik</strong>
                    <small>Hardstyle</small>
                </a>
            </li>
            <li data-image="assets/images/logos/goa.png" class="arrow selectable thumb">
                <a href="#" class="accept button right" data-icon="heart" data-label="Loving"></a>
                <a href="#site" data-router="section">
                    <strong>Goa</strong>
                    <small>Hardstyle</small>
                </a>
            </li>
            <li data-image="assets/images/logos/pacha.jpg" class="arrow selectable thumb">
                <a href="#" class="violet button right" data-icon="heart-full" data-label="Love?"></a>
                <a href="#site" data-router="section">
                    <strong>Pachá</strong>
                    <small>Pop</small>
                </a>
            </li>
        </ul>

    </article>


    <article id="profile-friends" class="scroll">

        <ul class="list">
            <li class="anchor">Shared Friends</li>
            <li data-image="assets/images/friends/friend3.jpg" class="circle arrow selectable">
                <strong>María Fernández</strong>
                <small>Affinity with you: 10 / 10</small>
            </li>
            <li data-image="assets/images/friends/friend2.jpg" class="circle arrow selectable">
                <strong>Luis Mayorga</strong>
                <small>Affinity with you: 9 / 10</small>
            </li>
            <li class="anchor">Rest of Friends</li>
            <li data-image="assets/images/friends/friend1.jpg" class="circle arrow selectable">
                <strong>Esther Lueje</strong>
                <small>Affinity with you: 9 / 10</small>
            </li>
            <li data-image="assets/images/friends/friend3.jpg" class="circle arrow selectable">
                <strong>María Fernández</strong>
                <small>Affinity with you: 7 / 10</small>
            </li>
            <li data-image="assets/images/friends/friend2.jpg" class="circle arrow selectable">
                <strong>Luis Mayorga</strong>
                <small>Affinity with you: 7 / 10</small>
            </li>
            <li data-image="assets/images/friends/friend1.jpg" class="circle arrow selectable">
                <strong>Esther Lueje</strong>
                <small>Affinity with you: 6 / 10</small>
            </li>
        </ul>

    </article>

</section>
