<section id="site" data-transition="slide">

    <header data-title="Kapital" class="violet extended">
        <nav>
            <a href="#back" data-router="section" data-icon="left" data-label="Sites"></a>
        </nav>

        <nav class="right">
            <a href="#follow" data-icon="heart-full" data-label="Love?"></a>
            <!-- <a href="#follow" data-icon="heart" data-label="Loving"></a> -->
        </nav>
    </header>


    <nav class="groupbar">
        <a href="#site-info" data-router="article" data-label="Info" class="active"></a>
        <a href="#site-parties" data-router="article" data-label="Parties"></a>
        <a href="#site-photos" data-router="article" data-label="Photos"></a>
        <a href="#site-map" data-router="article" data-label="Map"></a>
    </nav>


    <article id="site-info" class="active scroll">

        <figure>
            <img class="cover" src="assets/images/covers/kapital.png" alt="Kapital Cover Photo">
        </figure>

        <ul class="margined list">
            <li data-icon="music">
                <strong>Dance, Tecno, House</strong>
                <small>Music Style</small>
            </li>
            <li data-icon="picture">
                <strong>Pachangueo, A, B, C</strong>
                <small>Ambient</small>
            </li>
            <li data-icon="users">
                <strong>18 - 30 years old</strong>
                <small>Age Interval</small>
            </li>
            <li data-icon="ticket">
                <strong>20€ or 13€ by lists</strong>
                <small>Price</small>
            </li>
        </ul>

        <ul class="margined list">
            <li class="dark">
                <strong>Description</strong>
                <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            </li>
        </ul>

        <ul class="margined list">
            <li class="anchor">Friends' Comments</li>
            <li data-image="assets/images/friends/friend3.jpg" class="thumb arrow selectable">
                <strong>María Fernández</strong>
                <small class="comment">Sin duda alguna la mejor discoteca d todo Madrid. Es algo carillo pero todos los viernes montan una fiestaca de la hostia. Recomendable 100%</small>
            </li>
            <li data-image="assets/images/friends/friend2.jpg" class="thumb arrow selectable">
                <strong>Luis Mayorga</strong>
                <small class="comment">Si no sabes dónde ir es porque no has estado allí todavía</small>
            </li>
        </ul>

        <div class="margined">
            <a href="#" data-icon="check" class="button same-line left accept">Comment</a>
            <a href="#" data-icon="share" class="button same-line right violet">Recommend</a>
            <div class="clear"></div>
        </div>

    </article>


    <article id="site-parties" class="scroll">

        <ul class="indented list">
            <li class="arrow selectable thumb party">
                <a href="#party" data-router="section">
                    <img src="assets/images/covers/kapital.png" class="flyer" />
                    <strong>Fiesta del Semáforo</strong>
                    <small class="date">19 de Enero, 2013</small>
                    <small class="time">00.00</small>
                    <div class="clear"></div>
                    <p class="description">La fiesta más loca desde nochevieja! Apúntante y ven de verde si buscas rollo, de amarillo si estás pensándolo y de rojo si ya tienes pareja</p>
                </a>
                <div class="margined">
                    <a href="#" class="button violet anchor" data-label="Attend"></a>
                </div>
            </li>

            <li class="arrow selectable thumb party">
                <a href="#party" data-router="section">
                    <img src="assets/images/covers/kapital.png" class="flyer" />
                    <strong>Fiesta de la Espuma</strong>
                    <small class="date">26 de Enero, 2013</small>
                    <small class="time">02.00</small>
                    <div class="clear"></div>
                    <p class="description">La fiesta más loca desde nochevieja! Apúntante y ven de verde si buscas rollo, de amarillo si estás pensándolo y de rojo si ya tienes pareja</p>
                </a>
                <div class="margined">
                    <a href="#" class="button violet anchor" data-label="Attend"></a>
                </div>
            </li>

            <li class="arrow selectable thumb party">
                <a href="#party" data-router="section">
                    <img src="assets/images/covers/kapital.png" class="flyer" />
                    <strong>DJ Marta</strong>
                    <small class="date">2 de Febrero, 2013</small>
                    <small class="time">00.00</small>
                    <div class="clear"></div>
                    <p class="description">La fiesta más loca desde nochevieja! Apúntante y ven de verde si buscas rollo, de amarillo si estás pensándolo y de rojo si ya tienes pareja</p>
                </a>
                <div class="margined">
                    <a href="#" class="button violet anchor" data-label="Attend"></a>
                </div>
            </li>

            <li class="arrow selectable thumb party">
                <a href="#party" data-router="section">
                    <img src="assets/images/covers/kapital.png" class="flyer" />
                    <strong>Fiesta de su puta madre</strong>
                    <small class="date">9 de Febrero, 2013</small>
                    <small class="time">01.00</small>
                    <div class="clear"></div>
                    <p class="description">La fiesta más loca desde nochevieja! Apúntante y ven de verde si buscas rollo, de amarillo si estás pensándolo y de rojo si ya tienes pareja</p>
                </a>
                <div class="margined">
                    <a href="#" class="button violet anchor" data-label="Attend"></a>
                </div>
            </li>
        </ul>
    </article>

    <style>
        #site-photos img {
            width: 100%;
            height: auto;
        }
    </style>

    <article id="site-photos" class="scroll" style="-webkit-column-count: 3; -webkit-column-gap: 0px;">
        <img src="assets/images/logos/kapital.png" alt="">

        <img src="assets/images/covers/kapital.png" alt="">

        <img src="assets/images/logos/kapital.png" alt="">

        <img src="assets/images/logos/kapital.png" alt="">

        <img src="assets/images/logos/fabrik.png" alt="">

        <img src="assets/images/covers/kapital.png" alt="">

        <img src="assets/images/logos/kapital.png" alt="">

        <img src="assets/images/logos/fabrik.png" alt="">

        <img src="assets/images/covers/kapital.png" alt="">

        <img src="assets/images/logos/kapital.png" alt="">

        <img src="assets/images/logos/kapital.png" alt="">

        <img src="assets/images/logos/fabrik.png" alt="">

        <img src="assets/images/covers/kapital.png" alt="">

        <img src="assets/images/logos/kapital.png" alt="">
    </article>


    <article id="site-map">
        <!--
        <iframe style="width:100%; height:55%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;geocode=&amp;q=Kapital,+Calle+de+Atocha,+125,+28012+Madrid,+Community+of+Madrid&amp;gl=ES&amp;ie=UTF8&amp;hq=Kapital,+Calle+de+Atocha,+125,+28012+Madrid,+Community+of+Madrid&amp;output=embed"></iframe>
        -->
        <ul class="list">
            <li class="anchor">Location</li>

            <li>
                <strong>Calle de Atocha, 125, Madrid</strong>
                <small>Address</small>
            </li>

            <li>
                <div class="right bubble blue">L1</div>
                <div class="right bubble red">C</div>
                <strong>Atocha-Renfe</strong>
                <small>Metro</small>
            </li>

            <li>
                <div class="right bubble red">32</div>
                <div class="right bubble red">63</div>
                <div class="right bubble green">N8</div>
                <strong>Bus</strong>
            </li>
        </ul>
    </article>

</section>

