<section id="sites" data-transition="slide">

    <header data-title="Favorite Sites" class="violet extended">
        <nav>
            <a href="#nav" data-router="aside" data-icon="menu" class="btn-menu"></a>
        </nav>

        <nav class="right">
            <a href="#" data-router="section" data-icon="search" data-action="search"></a>
        </nav>
    </header>


    <nav class="groupbar">
        <a href="#sitesfav" data-router="article" data-icon="heart"         data-title="Favorite Sites"    data-label="Favorite" class="active"></a>
        <a href="#sitesrec" data-router="article" data-icon="star"          data-title="Recommended Sites" data-label="Recommended"></a>
        <a href="#sitesall" data-router="article" data-icon="accessibility" data-title="All Sites"         data-label="All"></a>
    </nav>

    <article id="sitesfav" class="active scroll list"><ul></ul></article>
    <article id="sitesrec" class="scroll list"><ul></ul></article>
    <article id="sitesall" class="scroll list"><ul></ul></article>

</section>
