
/*
form input[type="search"] { width : 82%; }
form input[type="search"] + .button { width : 15%; }

a.button .search { margin-right : 0; }
label { margin-bottom : 10px !important; }
*/




/*
header:not(.extended) ~ article
footer ~ article { bottom : 44px; }
*/

/*.tag.small  { margin-left : 10px; } */

/*
.list li b,
.list li strong { display : block; }
*/

/*
.list li .property { display : inline-block; }
.property ~ small { padding-top : 3px; }

.margined-bottom { margin-bottom : 3%; }
*/







